@import './base.css';

#app {

  height: 100vh;
  margin: 0 ;
  padding: 0;
  width: 100%;
  color: #16161a;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  background-color: antiquewhite;
}

a,
.green {
  text-decoration: none;
  color: #7f5af0;
  transition: 0.4s;
}

@media (hover: hover) {s
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }


}
